<div class="main">
  <div class="logo" routerLink="/public/home">App</div>
  <div class="ini">
    <ul id="in">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/public/home"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/public/contact">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/register">Register</a>
      </li>
    </ul>
  </div>
</div>
