<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid" >
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div >
            <ul id="in">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/public/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/public/contact">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/public/login">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/public/register">Register</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
